<div class="jumbotron">
    <h1>Fibonacci software</h1>
    <p class="lead">Fibonacci Software Inc. it is more famous company for providing fibonacci calculating operations.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>What about Fibonacci?</h2>
        <p>It is popular scientist </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Fibonacci">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What is it  fibonacci numbers?</h2>
        <p>In mathematics, the Fibonacci numbers or Fibonacci sequence are the numbers in the some integer sequence.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Fibonacci_number">Learn more &raquo;</a></p>
    </div>
</div>
